
/* shared styles */
.container{
    max-width:1140px ;
    margin: auto;
}


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}




/* nav styles */
nav{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-links{
    list-style-type: none;
    display: flex ;
    align-items: center;
    gap:48px ;
    font-family: "Noto Serif", serif;
    color: #252432;
}
.nav-links li:first-child{
    font-weight: bold;
}


.nav-links li:nth-child(2),
.nav-links li:nth-child(3)
  {
  color:#8987A1 ;
}
.nav-links li i{
    padding-right: 10px;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    padding-top: 120px;
    margin-top: 106px;


}
.banner-content{
    width: 50%;
    margin-top: 80px;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 13px;
}
 .banner-title span{
    color: #E95A08;
}
.banner-description{
    color:#8987A1 ;
    font-size: 22px;
    font-weight: 400;
}
/* PLANT STYLES*/
.plants{
    margin-top: 120px;
}
.plants-content{
    text-align: center;
   
}
.plants-content h1{
    font-size: 50px;
    font-weight: bold;
}
.plants-content h1 span{
   color: #E95A08;  
}
.plants-content p{
      color:#8987A1 ;
    font-size: 22px;
    font-weight: 400;
}
.plant-btn{
    background-color: #E95A08;
    color: white;
   width: 100%;
    border: none;
    padding: 19px;
}
.plants-card-container{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 20px;
    text-align: center;
}
.flower-card h4{
    font-size: 22px;
    font-weight: 500;
}
.flower-card h3{
    font-size: 22px;
    font-weight: 700;
}


/* lover part styles */
.lover{
    display: flex;
    margin-top: 210px;
    gap: 60px;
    justify-content: space-between;
}
.lover-content{
    margin-top: 38px;
}
.lover-content h1{
       font-size: 50px;
    font-weight: bold;
}
.lover-content ul li{
    font-size: 22px;
    font-weight: 400;
      color:#8987A1 ;
      margin-bottom: 20px;
}
.lover-items{
    position: relative;
}
.fan-bagde{
    position: absolute;
    top: -20%;
   left: 30%;
    width: 286px;
    height: 286px;
}
/* deals ssstyles */
.deals{
    margin-top: 130px;
}


.deals-img{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}
.left-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-column {
    width: 750px;
    height: 420px;
    padding: 110px 140px;
}
.card{
    position: relative;
    width: 370px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   background: rgba(0, 0, 0, 0.16);
}
.card h3{
    margin: 0;
    font-size:20px ;
    font-weight: bold;
}
.card button{
    margin-top: 10px;
   color: white;
    background-color: transparent;
    border: none;
    border-bottom:solid  1px white ;
}
.deals-details{
    text-align: center;
}
.deals-details h1{
      font-size: 50px;
    font-weight: bold;
}
.deals-details h1 span{
    color: #E95A08;
}
.deals-details p{
       font-size: 22px;
    font-weight: 400;
      color:#8987A1 ;
}
/* subscription styles */
.subscription{
    background-image: url(./assets/news-letter-bg.png);
    color: white;
    padding: 100px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
.subscription h2{
    font-size: 50px;
    font-weight: bold;
}
.subscription input{
    width: 644px;
    height: 50px;
padding:0 15px;
}

/* join styles here */


.join input{
 width: 45%;
 border: none;
}
.join-btn{
       background-color: #E95A08;
    color: white;
    border: none;
    padding: 19px 50px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* gap: 110px; */
   padding-top: 50px;
}
.footer-logo{
    width: 359px;
}
.footer-logo h4{
        font-size: 22px;
    font-weight: 400;
      color:#8987A1 ;
}


.footer-links li{
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 22px;
}
.footer-links li a{
    text-decoration: none;
       color:#8987A1 ;
   
}
.social-logos{
    display: flex;
    align-items: center;
    gap: 24px;
}




/* responsive styles */


@media screen and (max-width:570px) {
    .nav-logo{
    width: 20%;
}
    nav{
          align-items: center;
    }
    .nav-links li:nth-child(1),
    .nav-links li:nth-child(2),
    .nav-links li:nth-child(3)
    {
        display: none;
    }


    .banner{
       display: flex;
       flex-direction: column-reverse;
    }
 .banner{
   text-align: start;
 }
 .plants-card-container{
    grid-template-columns:repeat(2,4fr) ;
}
.plants-content{
    margin: 0 auto;
   
}
.lover{
    flex-direction: column;
}
.fan-bagde{
    display: none;
}
.subscription input{
    width: 218px;
    height: 50px;

}
.join-btn{
  
 padding: 19px 12px;
}
.subscription h2{
    font-size: 20px;
}


.right-column {
    width: 00px;
    height: 200px;
}


footer{
    flex-direction: column;
}
.deals-img{
    flex-direction: column;
}
 


}
